/*
*
* Additional CSS for Zettlr
*
* Base directory for everything in this file: css directory!
* NOT public directory (as it is for the blade engine)
*/

body
{
    background-image:url(../img/notes.main.background.2.jpg);
    background-position:top center;
    background-attachment:fixed;
    /* Hack for fixed navbar */
    padding-top:70px;
}

/*
* Little bootstrap hack for making the links visible on focused note panels
*/
.panel-primary > .panel-heading a
{
    /* Bootstrap info base color */
    color:#bce8f1;
}


#tagList > .btn > .close
{
    /* A little bit more spacing */
    margin-left:5px;
}
/*
 * Styles for sortable tables
 */
.header::after, .headerSortDown::after, .headerSortUp::after
{
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height:1;
    padding-left:10px;
    vertical-align: middle;
}

.header::after
{
    content:"\e150";
}

.headerSortDown::after
{
    content:"\e113";
}

.headerSortUp::after
{
    content: "\e114";
}

/*
* CodeMirror-hack for adapting the design
* to bootstrap
*/
